/bin/*.db
/bin/*.log
/bin/*.pid

# local testing
/html/cache/*
/html/data/*
/html/css/base.css

# symlinks to extra modules which shouldn't be enabled by default
/html/modules/phpinfo

# fodev.net-specific
/fodev.php

!/html/data/.htaccess
!/html/data/config.json

# preserve directory structure
!empty.dir

###

# various temporary files 
*~
