/bin/*.log
/bin/*.pid

# local testing
/html/cache/*
/html/css/base.css
/html/data/*
!/html/data/.htaccess
!/html/data/config.json
/extra/patches/ping-db
*.db*

# symlinks to extra modules which shouldn't be enabled by default
/html/modules/phpinfo

# fodev.net-specific
/fodev.php

# preserve directory structure
!empty.dir

###

# various temporary files 
*~
