html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #333;
}

#header
{
	height: 20px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #333;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

article
{
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	width: 90%;
	background-color: #191919;
	min-height: 91%;
	display: block;
}

footer, #info
{
	border-top: 1px solid #2b2b2b;
	min-height: 15px;
}

#info
{
	text-align: center;
}

footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 0.8em;
	background-color: #191919;
}

#footer
{
	position: relative;
	padding: 2px 5px 2px 5px;
	text-align: right;
}

button
{
	border: 1px solid #555;
	border-radius: 3px;
}

button:hover
{
	border: 1px solid #555;
	color: #aaa;
}

.center
{
	text-align: center;
}

img.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right
{
	text-align: right;
}

a:focus, a:active
{
	outline: none;
}

@font-face
{
	font-family: 'JH_FalloutRegular';
	src:  url( '../fonts/jh_fallout-webfont.eot' );
	src:  local( ' ' ),
		url('../fonts/jh_fallout-webfont.woff') format('woff'),
		url('../fonts/jh_fallout-webfont.ttf') format('truetype');
}

.font_fallout, .font_fallout_green
{
	font-family: 'JH_FalloutRegular';
	font-size: 8px;
}

.font_fallout_green
{
	color: rgb( 2, 238, 0 );
}

#error
{
	width: 50%;
	margin: auto;
	border-radius: 15px;
	border-style: groove;
	border-color: #333;
	padding-bottom: 8px;
	text-align: center;
	vertical-align: middle;
	display: block;
	font-family: 'JH_FalloutRegular';
	font-size: 9px;
}

#game_table
{
	border: 1px solid #332e2e;
	width: 60%; 
	margin:auto; 
	text-align: left; 
	margin-top: 30px; 
	border-collapse: collapse; 
	font-size: 11px;
}

#game_table tr:hover {
	filter:  sepia(25%);
}

#game_table tr.online {
	background-color: #004500;
}

#game_table tr.online td {
	color: #0c1;
}

#game_table tr.offline {
	background-color: #300000;
}

#game_table tr.offline td {
	color: #c40000;
}

#game_table tr.single {
	background-color: #09081a;
}

#game_table tr.single td {
	color: #0090c0;
}

#game_table tr td, tr th
{
	padding-left: 10px;
}