#server_status
{
	width: 220px !important;
	height: 60px !important;
	display: inline-block;
	margin: 2px;
	cursor: default;
	line-height: 12px;
	font-size: 11px;
	vertical-align: top;
	background-repeat: no-repeat;
	border-radius: 15px;
	border-style: groove;
}

#server_status .stats
{
	position: relative;
	margin: 0;
	top: 5px;
	left: 0px;
	text-align: center;
}

#server_status .links
{
	position: relative;
	top: 8px;
	padding-left: 15px;
	text-align: left;
}

#server_status.online
{
	/* background-image: url(../gfx/online.png); */
	border-color: #0c1;
	background-color: #004500;
	color: #0c1;
}

#server_status.offline, #server_status.closed, #server_status.singleplayer
{
	line-height: 17px;
}

#server_status.offline, #server_status.closed
{
	/* background-image: url(../gfx/offline.png); */
	border-color: #c40000;
	background-color: #300000;
	color: #c40000;
}

#server_status.closed .stats:first-line
{
	text-decoration: line-through;
}
