Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

<Files ".git*">
	Order allow,deny
	Deny from all
</Files>

<Files "fonline.png">
	ForceType application/x-httpd-php
</Files>
